# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/

# Build / Dist
.dist/
build/
dist/

# Storage (uploaded files)
storage/
app/storage/*


# Environment variables & logs
.env
.env.*
*.log


